    <% unless mixcloud.nil? or mixcloud.empty? %>
      <strong>Mixcloud:</strong>
      <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?embed_type=widget_standard&amp;embed_uuid=7967be71-582f-46d2-9998-e846c4c5fec9&amp;feed=https%3A%2F%2Fwww.mixcloud.com%2F<%= mixcloud %>%2F&amp;hide_cover=1&amp;hide_tracklist=1&amp;light=0&amp;mini=1&amp;replace=0" frameborder="0"></iframe>
      <div style="clear: both; height: 3px; width: auto;"></div>
      <p style="display: block; font-size: 11px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; margin: 0px; padding: 3px 4px; color: rgb(153, 153, 153); width: auto;">
        <a href="https://www.mixcloud.com/<%= mixcloud %>/?utm_source==widget&amp;utm_medium=web&amp;utm_campaign=base_links&amp;utm_term=resource_link" target="_blank" style="color:#808080; font-weight:bold;">
          Shows by <%= mixcloud %>
        </a>
        <span> on </span>
        <a href="https://www.mixcloud.com/?utm_source=widget&amp;utm_medium=web&amp;utm_campaign=base_links&amp;utm_term=homepage_link" target="_blank" style="color:#808080; font-weight:bold;"> Mixcloud</a>
        </p><div style="clear: both; height: 3px; width: auto;">
        </div>
    <% end %>

