<% if false #Program.current_program %>
    <h3 >NOW BROADCASTING<span name="mi">!!!!!!</span></h3>
<% else %>
    <h3>Featured Show</h3>
<% end %>
  <p>

<!--     <%#= image_tag program.public_filename , :size => "320x240" %>
    <span class="featured-title">
        <%#= link_to program.name, program_path(program) %> <br/>
          <%#= program.air_times %><br />
        <%# program.users.each do |dj| %>
        <%#= dj.display_name %><br/>
        <%# end %>
    </span>
    <br />
        <%# if program.message && Program.current_program %>
            <strong><%#= program.message %></strong><br/>
                     <br/>
        <%# end %>

      <strong> Program Description:</strong>  <%#= program.description %><br/>

  </p> -->

