
<h2><u>Our Mission</u></h2>
<br/>
<p>
  Hollow Earth Radio is the Pacific Northwest's freeform online radio station that presents a forum for underrepresented music, sounds and perspectives. We support the local music community in Seattle, King County, Washington state, and the larger Pacific Northwest. Our focus is on found sound, field recordings, forgotten music, local musicians, bedroom recordings, low-fi demos, dreams, storytelling, and things that feel real. We expose works that have yet to be unearthed or have long been dormant. We acknowledge and celebrate raw talent and imperfections, and encourage bands who've never had their music air on a radio before to take a chance with us.
</p>


<p>
  Not only do we talk with musicians, but we talk with music supporters like small label owners, DIY venue curators & music bloggers to reveal the stories behind the art, and learn about the actual people involved in creating the music culture in our area. We encourage community participation and offer the local community access to training and knowledge on how to run a radio station.
</p>


<h2><u>How We Got Our Name</u></h2>
<br/>
<p>
  The term Hollow Earth comes from a theory that describes an opening in the earth at the North and South Poles. From that point, there are all sorts of speculations about whether there is another world of life within the center of the Earth. The theories on who inhabits this inner realm involve fairies, leprechauns, aliens, angels, lost civilizations - the list goes on and on. We like the idea of a Hollow Earth because our educated guess would suggest that the Hollow Earth Theory is not true, but this type of theory symbolizes the many things in life that we take for granted. Scientists have made hypotheses, but does anyone really know what is in the center of our planet?
</p>

<p>
  In one way, Hollow Earth Radio seeks to examine the unknown and the periphery of music and culture, to discover what's going on right beneath our feet.
</p>

