
<h1>Calling All Bands</h1>
<br/>
  If you are a band and would like us to play your music on Hollow Earth Radio, there's lots of ways to get it to us. Please send us your music; we'd love to hear it.

  We prefer you mail us a cd package in the mail.
<p>


  Hollow Earth Radio<br/>
  2018 A E. Union St.<br/>
  Seattle, WA 98122<br/>
<br>

 You can also send mp3's to our <%= music_mailto %>

