<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hollow Earth | LPFM Campaign</title>
    <script src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery", "1");
    </script>

    <!--[if IE]><style type="text/css"> div.code { overflow:visible; overflow-x:auto; overflow-y:hidden; padding-bottom:15px; } </style><![endif]-->

    <style>
        body{
          background: #000000;
          margin: 0px auto;
        }
        hr{
          border-top: 1px dashed #000000;
          height: 1px;
        }
        ul li {
          list-style-type: circle;
        }

        .top{
            position: absolute;
            top: 0px;
        }

        .bottom{
            height: 100px;
            width:100%;
        }

        .navigate{
            background: #01abc9;
            width: 100%;
            color: white;
            font-size: 28px;
            font-family: arial;
            text-align: center;
            font-weight: bolder;
        }
        .navigate a{
            color: white;
            font-size: 28px;
            font-family: arial;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
            display: block;
            margin: 0px auto;
            padding: 10px 0;
        }
        .navigate a:hover{
            color: #F8D8C3;
        }
        .tab_header{
            font-size: 24px;
            font-family: verdana;
            color: #5C4033;
            font-weight: bold;
            margin: 0px;
            padding: 0px;
            text-align: center;
        }

        #container{
          margin: 0px auto;
          padding: 0px;
          position: relative;
        }
        #tabContainer{
          background: none;
          /*border: 1px solid black;
          padding: 10px 10px 0px 10px;*/
          overflow-x: auto;
          overflow-y: auto;
        }
        #tabContainer h1 {
          text-align: center;
        }
        #tabContainer p {
          color: #fff;
          text-align: center;
        }
        #logo{
          position: absolute;
          top: 52px;
          left: 251px;
        }
        .black_text{
          font-size: 14px;
          font-family: Arial;
          color: black;
          font-weight: normal;
        }
        .bold_black_text{
          font-size: 14px;
          font-family: Arial;
          color: black;
          font-weight: bold;
        }
        .small_text{
          font-size: 12px;
          font-family: Arial;
          color: #ffffff;
          font-weight: normal;
        }
        .alert{
          font-size: 20px;
          font-family: Arial;
          font-weight: bold;
          color: #ff0000;
          margin: 0px;
          padding: 0px;
        }
        .links{
          color: #ffea1b;
          font-weight: bold;
          text-decoration: underline;
        }
       .links:hover{
          color: #ffea1b;
          font-weight: bold;
          text-decoration: underline;
        }

        a {
          color: #e32b7e;
        }
    </style>
  </head>

  <body style="margin: 0px auto;">
    <div id="container">
      <div id="tabContainer">
        <h1><a href="https://www.indiegogo.com/projects/hollow-earth-radio-finally-on-the-airwaves--2#/">HELP HOLLOW EARTH GET ON THE AIRWAVES!!!</a></h1>
        <p>Donate to our <a href="https://www.indiegogo.com/projects/hollow-earth-radio-finally-on-the-airwaves--2#/">IndieGoGo campaign</a> now so we can begin broadcasting on the FM dials as 100.3 KHUH</p>
        <div id="one" align="center" >
          <iframe width="560" height="445" src="https://www.youtube.com/embed/TKyF8dLjbk0" frameborder="0" allowfullscreen></iframe>
          <iframe src="https://www.indiegogo.com/project/hollow-earth-radio-finally-on-the-airwaves--2/embedded" width="222px" height="445px" frameborder="0" scrolling="no"></iframe>
         </div>

      </div>

      </div>

      <div class="navigate bottom">
        <a href='/home'>
          <p>Enter the HOLLOW EARTH RADIO website</p>
        </a>
      </div>
  </body>
</html>

