<h1> Live DJ PLEDGE </h1>

<p> Thank you for volunteering and DJing for Hollow Earth. We appreciate you so much! The following is a pledge that outlines new policies for all Hollow Earth DJs. We also want to check in on everyone about their shows and, if you have any, the volunteers you help during your time at the station. </p>

<p> Hollow Earth is growing and lots of wonderful opportunities are on the horizon. In order to fully function we rely on volunteers. There is a constant flow of people expressing interest in volunteering at HER. We must be able to accommodate them and provide them meaningful opportunities to positively influence HER. Earlier on, the idea of station managers was proposed. A station manager is a DJ and volunteer with access to the space, knowledge about the station and how it runs, and a willingness to have the door open during office hours to make us more approachable to both the community and volunteers. This has been very difficult to organize. Until we are able to have people willing to be station managers, we must count on DJs to help with these tasks. Also, as we attempt to transition to LPFM, we need all the support we can get from our DJs. </p>

<h2> Volunteer Time Commitment Pledge </h2>

<p> We are now requiring that all HER DJs maintain their volunteer status in other ways besides solely providing programming. You, as a DJ, have access to the space, a great resource, and the privilege of broadcasting your show. However to keep the space open and broadcasting, we need help from everyone outside of DJing your show. </p>

<p>
By volunteering a minimum of 6 hours a month (in addition to the time you commit to being at the station for your radio show), not only would you help our languishing committee structure to function, you would be helping HER usher in new volunteers to keep us serviceable and successful.</p>

<p> Here are some examples of what you could do with your volunteering time: </p>

<ul>
  <li>Come in an hour before your show, or stay an hour after to complete small tasks, e.g. cleaning, completing tasks from the task board</li>
  <li>Spend time at the station just keeping the space open and give casual guidance to new volunteers. After answering a few questions, you could spend most of the time planning for your show</li>
  <li>Become a station manager</li>
  <li>Work one live show a month</li>
  <li>Participate in a committee meeting</li>
</ul>

<h2> THE PLEDGE </h2>
<p>
I pledge to devote six hours of volunteer time at the station in addition to my DJ responsibilities.                                                                                       Initials: _________
</p>
<p>
You also MUST be a part of a committee. If you cannot attend regular committee meetings, you are required to stay updated and be a part of the completion of committee tasks and projects.
</p>

<p>
I pledge to be a participating member of one of the Hollow Earth Radio committees that we need to function successfully.                                                       Initials: ____________
</p>

<h3>The current committees are:</h3>
<ul>
  <li>Programming (music, booking, on-air content, scheduling, news)</li>
  <li>Business (fundraising, admin, legal)</li>
  <li>Outreach (volunteer coordination, publicity, community outreach, anti-oppression)</li>
  <li>Operations (tech, physical space upkeep, audio)</li>
</ul>

<h3>Safe(r) Space and Positive Community Member Pledge (part 1 of 2*)</h3>

<p>
  It it is within our mission statement to encourage community participation.
  We need to be engaging as volunteers with one another to promote community within the station.
</p>

<ul>

  <li>I pledge to be a respectful member of the HER community.</li>
  <li>I pledge to promote Hollow Earth as a Safe(r) Space.</li>
  <li>I pledge to do my best to welcome new volunteers to the community.</li>
</ul>

<p>
Thank you so much for taking the time to read and sign the Hollow Earth DJ Pledge.
The future of the station relies on your commitment, enthusiasm, and love for radio.
</p>
