#home_hello
	.section_title
		Hello.
	
	We are an online (streaming only) diy radio operating out of an attic public space in Seattle's Central District. We feature found sound, field recordings, story-telling, dream-collecting, radio plays, live house shows, local in-home performances and content given to us BY YOU. We support local and northwest music and other underground music from around the world. We broadcast 24 HOURS A DAY everyday.

// ------program section------
.home_section
	.section_title
		Current Program
	%article.program_details
		%h1.title
			Late Nights for the Longing
		%h2
			Mondays // 10pm - 1am 
		.program_image
			%img{:src=>"assets/programs/program72.jpg"}
		%p
			Late Nights for the Longing (LNftL) is arranged to play music of underrepresented artists in the NW and beyond. Providing airtime for in-studios, new music, and support of local music happenings for the underground-DIY music/arts community of the NW. The program also airs live recordings of shows taking place in alternative spaces in the NW, produced by music documentation project, Off Tempo.

// ------blog section------

.home_section
	.section_title
		Blog
	%article.blog
		%h1.title
			Glossophonic Showcase 4
		%h2.authoring
			DJ Dusty Mantle // 2013.09.22 // 08:58pm (PST)
		%p
			Local multi-genre word producers and electronic musicians at HER Sunday 29th September, from 8-10pm!
		%p
			Local small press and arts conglomerate Babel/Salvage presents the fourth in the ongoing Glossophonic Showcase performance series.

		%p
			Featuring literary performances by poet, critic and teacher Evan J. Peterson (author of Skin Job and the forthcoming The Midnight Channel), word mogul and advice columnist Rauan Klassnik (author of Holy Land and The Moon's Jaw) and the experimental word-band Interrupture. Also featuring music by Pleasure Boat Records artists Naturebot (The Schnebly, Specialty Shop) and The Algebra of Need.

		%p
			The last three in this reading series have been rather successful. If you can't make it, listen online via the Hollow Earth Radio stream!

		%p
			Facebook event
