<div style="padding-left:10px;width:600px;">
  <br/>
  <h3>Listen With Your Web Browser</h3>

  <iframe id="ListFrame" name="ListFrame" style="width:600px; height:60px; border:none;" scrolling="no";
      src="https://her-player.herokuapp.com/index.html">]
  </iframe>
</div>

<div style="padding-left:10px;width:600px;">
  <br/>
  <div class="graphic-left">
    <h3> Listen With Your Computer</h3>
    <p>
      <%= image_tag "her_listen_tape.png", style: "align:top;max-width: 120px;height:100" %>
    </p>
    <p>
      Download <a href="/hollowearth.pls">this file</a> to listen. It should work in iTunes, WinAMP, VLC and many others. You may need to double click the .pls file that downloads on your computer.
    </p>
    <p>
    There's also an option to listen with <a href="hollowearth.ram">Real Player</a>
    <p>
  </div>
</div>

<div style="padding-left:10px;width:600px;">
  <br/>

  <div class="graphic-right">
    <br/>
    <h3> Listen With Your Phone</h3>
    <%= image_tag "her_listen_hamburger.png", style: "align:top;max-width: 120px;height:100" %>

    <p>
      You can also listen to Hollow Earth Radio from your smartphone using TuneIn, which is available for
      <a href="https://play.google.com/store/apps/details?id=tunein.player">Android</a>,
      <a href="http://appworld.blackberry.com/webstore/content/17105/?countrycode=US">Blackberry</a>,
      <a href="https://itunes.apple.com/us/app/tunein-radio/id418987775?mt=8">iPhone</a>,
      or <a href="http://www.windowsphone.com/en-us/store/app/tunein-radio/7f7e3f68-ba3a-e011-854c-00237de2db9e">Windows Phone</a>
    </p>
  </div>
</div>
