<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="magma-festival">
            <div>
                <h1>
                    MAGMA FESTIVAL 2014
                </h1>
                <div style="position: relative; top: -20px;">
                    <a href="#schedule">Schedule</a> | <a href="#about">About</a> | <a href="#sponsors">Sponsors</a>
                </div>
                <h3>
                    MAGMA FESTIVAL 2014: WHEN'S IT GONNA BLOW?
                </h3><br>
               <%= image_tag "magma/froh.png" %>
            </div><br>
            <h3 id="schedule">
                MAGMA FEST 2014 SCHEDULE
            </h3>

            <%= render partial: "magma_show", collection: @magma_shows %>

            <p align="right">
                <a href="#magma-festival">Back to top</a><br>
                <br>
                <br>
            </p>
            <h3 id="about">
                About
            </h3>
            <p class="black_text">
                <br>
                We are so excited for what will be the 6th annual Magma Festival! As an extension of our mission to provide a forum for underrepresented sounds and perspectives, we put on this month long festival to highlight our favorite artists and musicians! We've been doing this almost as long as the radio has existed!
            </p><br>
            This year we are proud to present a diverse lineup of artists, including: A reunion with amazing 90's NW "queercore" bands Behead The Prophet No Lord Shall Live &amp; the Need, an electic night of pop with folks like Slim Moon &amp; What Army, Harvy Sid Fisher, Steve Fisk, Marianne Nowottny, and Imaginery Pants (Rose Melberg &amp; Jon Manning), a hardcore &amp; hip-hop event entitled 'RAD RAINS' featuring Dil Withers, Carrion Spring, Walter &amp; Perry, P Supremo Black Magic Noize &amp; Nudes, Seattle garage sounds from La Luz, Detective Agency, Dude York, and Weird Bug, and experimental electronic music from Marielle Jakobson, Rafael Irisarri, Swahili, Logic Probe, plus a WHOLE TON MORE MORE MORE!!!!!!!<br>
            This is but a small slice of the amazing lineup for our festival which takes place every Friday &amp; Saturday in March in a host of alternative &amp; all-ages spaces in Seattle. We encourage you to check out the ENTIRE <a href="/magma#schedule">Schedule</a> and support Hollow Earth Radio and the artists by coming out to the shows!
            <p align="right">
                <a href="#magma-festival">Back to top</a><br>
                <br>
                <br>
            </p>
                <%= link_to(image_tag("magma/clotfelter.png"), "/magma") %>
            <br>
            <br>
            <div id="three" class="black_text"></div>
            <div id="four" class="black_text">
                <p align="right">
                    <a href="#magma-festival">Back to top</a>
                </p>
                <h3 id="sponsors">
                    SPONSORS
                </h3>
                <p>
                    We wouldn't be able to make Magma Festival a success without the help of our sponsors. Thanks so much to these rad folks for helping to support Hollow Earth Radio into our glorious future!
                </p>
                <ul>
                <li><a href="http://2020cycle.com">20/20 Cycle</a></li>
                <li><a href="http://duckhugger.com/">Aerick Duckhugger</a></li>
                <li><a href="http://www.blackiconictshirts.com/">Black Iconic T-shirts</a></li>
                <li>the Black Lodge </a>
                <li><a href="http://www.buttonmakers.net">Buttonmakers</a></li>

                <li><a href="http://www.cwb.org">Center for Wooden Boats</a></li>
                <li><a href="http://www.centralcoop.com/">Central Co-Op</a></li>
                <li><a href="http://cmrtyz.com">CMRTYZ</a></li>
                <li><a href="http://www.daxedworddesign.com">Dax Edword Design</a><li>
                <li><a href="http://www.jazzalley.com">Dmitriou's Jazz Alley</a></li>
                <li><a href="http://www.empsfm.org">EMP</a></li>
                <li><a href="http://essentialbaking.com/">Essential Bakery</a></li>
                <li><a href="http://www.fulltilticecream.com">Full Tilt</a></li>
                <li><a href="http://www.grandcentralbakery.com">Grand Central Baking Co</a></li>
                <li><a href="http://www.grandillusioncinema.org/">Grand Illusion</li></a>
                <li><a href="http://www.greenmonkeyrecords.com">Green Monkey Records</a></li>
                <li><a href="http://hothousespa.com/">Hot House Spa</a></li>
                <li><a href="http://hrtlnd.org">The Heartland</a></li>
                <li><a href="http://landmarktheatres.com/Market/Seattle/">Landmark Theater Group</a></li>
                <li><a href="http://seattleghost.com">Market Tours and Espresso</a></li>
                <li><a href="http://newcitytheater.org/">The New City Theater</a></li>
                <li><a href="http://www.radarhairandrecords.com/">Radar Records</a></li>
                <li><a href="http://www.rudysbarbershop.com/">Rudy's Barbershop</a></li>
                <li><a href="https://www.scarecrow.com/">Scarecrow</a></li>
                <li><a href="http://www.sonicboomrecords.com/">Sonic Boom</a></li>
                <li><a href="http://www.subpop.com">Sub Pop Records</a></li>
                <li><a href="http://www.suicidesqueeze.net">Suicide Squeeze</a></li>
                <li><a href="http://www.vain.com/">Vain Salon</a></li>
                <li><a href="http://www.theveraproject.org/">Vera Project</a></li>
                <li><a href="http://www.waywardmusic.blogspot.com/">Wayward Music Series</a></li>


                <p>
                    If you would like to become a sponsor for this festival, please email:<br>
                    magma {at} hollowearthradio {dot} org.
                </p>
                <p align="right">
                    <a href="#magma-festival">Back to top</a>
                </p>
            </div>
        </div><!-- a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XJPPE9E52Y58G" class="links" target="_blank">Donate $60</a -->
    </body>
</html>
