<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="magma-festival">
            <div>
                <h1>
                    MAGMA FESTIVAL 2014
                </h1>
                <div style="position: relative; top: -20px;">
                    <a href="#schedule">Schedule</a> | <a href="#about">About</a> | <a href="#sponsors">Sponsors</a>
                </div>
                <h3>
                    MAGMA FESTIVAL 2014: WHEN'S IT GONNA BLOW?
                </h3><br>
               <%= image_tag "magma/froh.png" %>
            </div><br>
            <h3 id="schedule">
                MAGMA FEST 2014 SCHEDULE
            </h3>

            <%= render partial: "magma_show", collection: @magma_shows %>

            <p align="right">
                <a href="#magma-festival">Back to top</a><br>
                <br>
                <br>
            </p>
            <h3 id="about">
                About
            </h3>
            <p class="black_text">
                <br>
              We are so excited for what will be the 7th annual Magma Festival! As an extension of Hollow Earth Radio’s mission to provide a forum for underrepresented sounds and perspectives, we put on this month-long festival to highlight our favorite artists and musicians! Magma Festival is an essential part of our core programming and has become a central component of what we do, while also working as a chance for the NW music community to show their support for the station. This year we are proud to present one of our most diverse lineups of artists yet!
              <br/><p/>
              <strong>Highlights include:</strong>
              <ul>
              <li>
An eccentric night of out of this world performance by the legendary SPACE LADY, remarkable outsider artist GENEVA JACUZZI, intuitive natural artist SHANNON NICOLE KRINGEN (Goddess Kring) and Portland artist SciFiSol.
              </li>
              <li>
An evening of various tones for MAGMA-tized headspace with true surround sound implications curated by Eiderdown Records featuring ECSTATIC COSMIC UNION, WALRUS MACHINE, STALE BIRTH and more!
              </li>
              <li>
Feminine soundscapes and absurd variety presented by the all female radio show Yonic BOOM! featuring the ethereal essence of KELLI FRANCES CORRADO, FINGER FANTASY (members of Black Queen and Sugar Skulls,) and the pent-up radical explosions of SEXES (feat. members of Witches Titties)
              </li>
              <li>
NW hard hitters HALF BREED, SO PITTED, HOT FRUIT, LURES, SCARVES, and PONYHOMIE
              </li>
              <li>
A night of funky, sludgy psychedelia way too cool for old school featuring PETER FEDOFSKY, SEPTIMUS, MUFASSA, and TAFT ARO SPACE
              </li>
              <li>
Spoken word performance, dance, a ton more!!
              </li>
              <li>
This is but a small slice of the amazing lineup for our festival which takes place every Friday & Saturday (and some Sundays) in March in a host of alternative & all-ages spaces in Seattle (15 shows in all!). We encourage you to check out the entire schedule at the following link:
              </li>
            </ul>
            <p align="right">
                <a href="#magma-festival">Back to top</a><br>
                <br>
                <br>
            </p>
                <%= link_to(image_tag("magma/clotfelter.png"), "/magma") %>
            <br>
            <br>
            <div id="three" class="black_text"></div>
            <div id="four" class="black_text">
                <p align="right">
                    <a href="#magma-festival">Back to top</a>
                </p>
                <h3 id="sponsors">
                    SPONSORS
                </h3>
                <p>
                    We wouldn't be able to make Magma Festival a success without the help of our sponsors. Thanks so much to these rad folks for helping to support Hollow Earth Radio into our glorious future!
                </p>
                <ul>
                    <% @sponsors.each do |sponsor| %>
                        <li>
                            <%= link_to sponsor.name, sponsor.link %>
                        </li>
                    <% end %>
                </ul>

                <p>
                    If you would like to become a sponsor for this festival, please email:<br>
                    magma {at} hollowearthradio {dot} org.
                </p>
                <p align="right">
                    <a href="#magma-festival">Back to top</a>
                </p>
            </div>
        </div><!-- a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XJPPE9E52Y58G" class="links" target="_blank">Donate $60</a -->
    </body>
</html>
