<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="magma-festival">
            <div>
                <h1>
                    MAGMA FESTIVAL 2013
                </h1>
                <div style="position: relative; top: -20px;">
                    <a href="#schedule">Schedule</a> | <a href="#about">About</a> | <a href="#sponsors">Sponsors</a>
                </div>
                <h3>
                    MAGMA FESTIVAL 2013: WHEN'S IT GONNA BLOW?
                </h3><br>
                <img src="http://hollowearthradio.org/images/magma2013/gonnablow_sm.png" width="400">
            </div><br>
            <h3 id="schedule">
                MAGMA FEST 2013 SCHEDULE
            </h3>
            <div style="width:690px;height:197px;border-style:solid;border-width:1px;margin:5px 0px 5px 0px;">
                <div style="float:left">
               <a href="http://hollowearthradio.org/images/magma2013/summer-seattle.png">        <img src="http://hollowearthradio.org/images/magma2013/summer-seattle.png" width="150" height="197"></a>
                </div>
                <div style="float:left;margin-left:35px">
                    <b><a href="https://www.facebook.com/events/118133711702054">March 1: Hollow Earth Radio | 8pm | 2018a E. Union St</a></b><br>
                    <br>
                    <a href="http://1giftofgab.bandcamp.com/">Gift uh Gab</a><br>
                    <a href="http://razsimone.com/">Raz Simone</a><br/>
                    <a href="https://soundcloud.com/couple-skate-records/the-numbs-king-bug">Numbs</a><br>
                    <a href="https://soundcloud.com/wd4d">WD4D</a><br>
                    <a href="http://soundcloud.com/statlerwt">PUNISHMENT TV </a><br>
                    <a href="http://ianostrowski.bandcamp.com/album/the-fire">Ian Ostrowski</a><br/>
                    <a href="http://thadwenatchee.bandcamp.com/album/workout-video-2-make-out-session">DJ Assist from Thad Wenatchee</a><br/>

                </div>
            </div>
            <div style="width:690px;height:197px;border-style:solid;border-width:1px;margin:5px 0px 5px 0px;">
                <div style="float:left">
                    <a href="/images/magma2013/ambrosia.jpg"><img src="/images/magma2013/ambrosia.jpg" width="150" height="197">
                </div>
                <div style="float:left;margin-left:35px">
                    <b><a href="https://www.facebook.com/events/159570857526939/">March 2: The Josephine | FACEBOOK INVITE</a></b><br>
                    <br>
                    <a href="http://tinyknives.bandcamp.com/">Tiny Knives</a><br>
                    <a href="http://healthproblems.bandcamp.com/">Health Problems</a><br>
                    Hate Boys<br>
                    <a href="http://lunchlady.bandcamp.com/track/dna">Lunch Lady</a><br>
                    <a href="http://23twentythree.bandcamp.com/">Twenty-Three</a><br>
                    <br>
                </div>
            </div>
            <div style="width:690px;height:197px;border-style:solid;border-width:1px;margin:5px 0px 5px 0px;">

                 <div style="float:left">
                    <a href="http://hollowearthradio.org/images/magma2013/3_8super.png"><img src="http://hollowearthradio.org/images/magma2013/3_8super.png" width="150" height="197"></a> <br/>
                </div>
                <div style="float:left;margin-left:35px">
                    <a href="https://www.facebook.com/events/476292465769185/">March 8: Black Lodge in Collab w/<br>
                    Burger Record's Burger Revolution | 8pm | FACEBOOK INVITE</a><br></b><br>
                    <a href="http://laluz.bandcamp.com">La Luz</a><br>
                    <a href="http://dudeyork.bandcamp.com/">Dude York</a><br>
                    <a href="http://detectiveagency.bandcamp.com/">Detective Agency</a><br>
                    <a href="http://weirdbug.bandcamp.com/">Weird Bug</a><br>
                    <br>
                </div>
            </div>
            <div style="width:690px;height:197px;border-style:solid;border-width:1px;margin:5px 0px 5px 0px;">
                <div style="float:left">
                    <a href="http://hollowearthradio.org/images/magma2013/rad-rains.jpg"><img src="http://hollowearthradio.org/images/magma2013/rad-rains.jpg" width="150" height="197"></a>
                </div>
                <div style="float:left;margin-left:35px">
                    <b><a href="https://www.facebook.com/events/334093506709723/">March 9: Hollow Earth Radio | "Rad Rains" |<br>
                    6:30 Doors | 2018a E. Union St | FACEBOOK INVITE</a></b><br>
                    <br>
                    <a href="https://soundcloud.com/dirtytapes/dil-withers-shine">Dil Withers</a><br>
                    <a href="http://carrionspring.bandcamp.com/">Carrion Spring</a><br>
                    <a href="http://godsagshispants.bandcamp.com/album/different-strokes-for-different-folks">Walter &amp; Perry</a><br>
                    <a href="http://psupremo.bandcamp.com/">P Supremo</a><br>
                    <a href="https://soundcloud.com/korvus-blackbird/hero-war-ship1">Korvus Blackbird</a><br>
                    <a href="http://blackmagicnoize.bandcamp.com/album/black-magic-noize-2k12-sampler">Black Magic Noize</a><br>
                    <a href="http://nudes.bandcamp.com/">Nudes</a><br>
                    Sound Control: DIL WITHERS, DJ Bob Catt &amp; DJ Sonic Titan<br>
                    <br>
                </div>
            </div>
            <div style="width:690px;height:197px;border-style:solid;border-width:1px;margin:5px 0px 5px 0px;">
                <div style="float:left">
                    <a href="http://hollowearthradio.org/images/magma2013/march_15.jpg"><img src="http://hollowearthradio.org/images/magma2013/march_15.jpg" width="150" height="197"></a>
                </div>
                <div style="float:left;margin-left:35px">
                    <b><a href="https://www.facebook.com/events/113191012195901">March 15: Chapel Performance Space | 7pm |<br>
                    4649 Sunnyside Ave. N. 4th floor (Wallingford) | FACEBOOK INVITE</a></b><br>
                    <br>
                    Of Magic (Lori Goldston, Paul Hoskin, Dave Abramson, etc)<br>
                    <a href="http://awhitehunter.tumblr.com/">A White Hunter (Oak)</a><br>
                    <a href="http://badluckband.net/">Bad Luck</a><br>
<a href="http://scorpioscorpioscorpio.bandcamp.com/">Scorpio Scorpio Scorpio</a><br/>
                    <br>
                </div>
            </div>
            <div style="width:690px;height:197px;border-style:solid;border-width:1px;margin:5px 0px 5px 0px;">
                <div style="float:left">
                 <a href="http://hollowearthradio.org/images/magma2013/16th-poster.jpg">    <img src="http://hollowearthradio.org/images/magma2013/16th-poster.jpg" width="150" height="197"></a>
                </div>
                <div style="float:left;margin-left:35px">
                    <b><a href="https://www.facebook.com/events/481860378539570/">March 16: Hollow Earth Radio &amp; 20/20 Cycle | 5pm Sharp |<br>
                    2018/2020 E. Union St | FACEBOOK INVITE</a></b><br>
                    <div style="font-size:10px">
                        <strong>5-8pm @ Hollow Earth Radio</strong><br>
                        <a href="http://rcloveandthegoodnessgracious1.bandcamp.com/">RC Love &amp; The Goodness Gracious</a><br>
                        <a href="https://www.youtube.com/watch?feature=player_embedded&amp;v=mzst471nnNw">Moon Joe (2 year old + dad)</a><br>
                        <a href="http://arrington.bandcamp.com/album/ten-thousand-tigers">Ten Thousand Tigers</a><br>
                        <a href="http://autococoon.bandcamp.com">Autococoon</a><br>
                        <a href="http://www.youtube.com/watch?v=K6_VAiznSTc">Harvey Sid Fisher!!!!</a><br>
                        <br>
                        <strong>8-11pm at 20/20 Cycle Next Door</strong><br>
                        <a href="http://www.mariannenowottny.com/">Marianne Nowottny</a><br>
                        <a href="imaginarypants.bandcamp.com">Imaginary Pants (Rose Melberg/Jon Manning)</a><br>
                        <a href="www.myspace.com/stevefisk">Steve Fisk</a><br>
                        <a href="www.myspace.com/smawa">Slim Moon &amp; What Army</a><br>
                        <a href=""><img src="" width="250"></a><br>
                    </div>
                </div>
            </div>
            <div style="width:690px;height:197px;border-style:solid;border-width:1px;margin:5px 0px 5px 0px;">
                <div style="float:left">
                    <img src="http://hollowearthradio.org/images/magma2013/gonnablow_sm.png" width="150" height="197">
                </div>
                <div style="float:left;margin-left:35px">
                    <b><a href="https://www.facebook.com/events/410883159006599/">March 22: HRTLND | 8pm | FACEBOOK INVITE</a></b><br>
                    <a href="https://www.facebook.com/events/410883159006599/">Lié</a><br>
                    <a href="http://koban.bandcamp.com/">Koban</a><br>
                    <a href="http://debaclerecords.bandcamp.com/album/spectral-disorder">Black Hat</a><br>
                    <a href="https://soundcloud.com/bardobasho">Bardo.Basho</a><br>
                    <a href="https://soundcloud.com/danielshuman">Daniel Shuman (of Sabbath Assembly)</a><br>
                </div>
            </div>
            <div style="width:690px;height:197px;border-style:solid;border-width:1px;margin:5px 0px 5px 0px;">
                <div style="float:left">
                    <img src="http://hollowearthradio.org/images/magma2013/gonnablow_sm.png" width="150" height="197">
                </div>
                <div style="float:left;margin-left:35px">
                    <b><a href="https://www.facebook.com/events/204953756313209/">March 23: Hollow Earth Radio | 7pm | 2018a E Union St (Central District)<br>
                    | FACEBOOK INVITE</a></b><br>
                    <br>
                    <a href="http://mariplasma.com/">Marielle Jakobsons</a><br>
                    <a href="http://irisarri.org/">Rafael Irisarri</a><br>
                    <a href="http://logicprobe.bandcamp.com/">Logic Probe</a><br>
                    <a href="https://www.facebook.com/XUAsound">XUA (Portland, Translinguistic Other / Pop in Purgatory)</a><br/>
                    <a href="http://widesky.bandcamp.com/">Chrisman/Svenson Duo (Seattle, of Widesky & Karnak Temples/Dull Knife)</a><br/>
                    <br>
                </div>
            </div>
            <div style="width:690px;height:197px;border-style:solid;border-width:1px;margin:5px 0px 5px 0px;">
                <div style="float:left">
                    <img src="http://hollowearthradio.org/images/magma2013/gonnablow_sm.png" width="150" height="197">
                </div>
                <div style="float:left;margin-left:35px">
                    <b>March 28: New City Theater | 8pm |</b><br>
                    <br>
                    <a href="http://marisaandersonmusic.com">Marisa Anderson</a>w/ Lori Goldston<br>
                    <a href="www.chuckjohnson.net">Chuck Johnson</a><br>
                    <a href="http://dannypaulgrody.bandcamp.com">Danny Paul Grody</a><br>
                    <a href="https://www.facebook.com/kenneykangmusic">Jessika Kenney &amp; Eyvind Kang Music<br>
                    <br></a>
                </div>
            </div>
            <div style="width:690px;height:197px;border-style:solid;border-width:1px;margin:5px 0px 5px 0px;">
                <div style="float:left">
                    <a href="http://hollowearthradio.org/images/magma2013/march29_sm.png"><img src="http://hollowearthradio.org/images/magma2013/march29_sm.png" width="150" height="197"></a>
                </div>
                <div style="float:left;margin-left:35px">
                    <b><a href="https://www.facebook.com/events/552223914796199/">March 29: Hollow Earth Radio | 8pm |</a></b><br>
                    <br>
                    <a href="http://thegreenpajamas.net/home">Green Pajamas</a><br>
                    <a href="https://soundcloud.com/smile-brigade">Smile Brigade</a><br>
                    Zmrzlina (Mindie of Gravey Grime Girls + most of the Correspondents)<br>
                    <a href="http://vimeo.com/53265378">Caitlin Sherman (of Slow Skate)</a><br>
                    <br>
                </div>
            </div>
            <div style="width:690px;height:197px;border-style:solid;border-width:1px;margin:5px 0px 5px 0px;">
                <div style="float:left">
                    <a href="http://hollowearthradio.org/images/magma2013/behead-flyer-8x11.png"><img src="http://hollowearthradio.org/images/magma2013/behead-flyer-8x11.png" width="150" height="197"></a>
                </div>
                <div style="float:left;margin-left:35px">
                    <b><a href="https://www.facebook.com/events/489824534389966/">March 30: VERA Project | 8pm |<br>
                    (intersection of Republican &amp; Warren St) | FACEBOOK INVITE</a></b><br>
                    <br>
                    <a href="https://www.facebook.com/BeheadTheProphetNoLordShallLive">Behead the Prophet No Lord Shall Live</a><br>
                    <a href="http://en.wikipedia.org/wiki/The_Need">The Need</a><br>
                    <a href="http://hystericsoly.blogspot.com">Hysterics</a><br>
                    <a href="bodybetrayal.bandcamp.com">Body Betrayl</a><br>
                    <br>
                </div>
            </div>
            <p align="right">
                <a href="#magma-festival">Back to top</a><br>
                <br>
                <br>
            </p>
            <h3 id="about">
                About
            </h3>
            <p class="black_text">
                <br>
                We are so excited for what will be the 6th annual Magma Festival! As an extension of our mission to provide a forum for underrepresented sounds and perspectives, we put on this month long festival to highlight our favorite artists and musicians! We've been doing this almost as long as the radio has existed!
            </p><br>
            This year we are proud to present a diverse lineup of artists, including: A reunion with amazing 90's NW "queercore" bands Behead The Prophet No Lord Shall Live &amp; the Need, an electic night of pop with folks like Slim Moon &amp; What Army, Harvy Sid Fisher, Steve Fisk, Marianne Nowottny, and Imaginery Pants (Rose Melberg &amp; Jon Manning), a hardcore &amp; hip-hop event entitled 'RAD RAINS' featuring Dil Withers, Carrion Spring, Walter &amp; Perry, P Supremo Black Magic Noize &amp; Nudes, Seattle garage sounds from La Luz, Detective Agency, Dude York, and Weird Bug, and experimental electronic music from Marielle Jakobson, Rafael Irisarri, Swahili, Logic Probe, plus a WHOLE TON MORE MORE MORE!!!!!!!<br>
            This is but a small slice of the amazing lineup for our festival which takes place every Friday &amp; Saturday in March in a host of alternative &amp; all-ages spaces in Seattle. We encourage you to check out the ENTIRE <a href="http://hollowearthradio.org/magma#schedule">Schedule</a> and support Hollow Earth Radio and the artists by coming out to the shows!
            <p align="right">
                <a href="#magma-festival">Back to top</a><br>
                <br>
                <br>
            </p>
            <div style="text-align: center;">
                <img src="/images/beep-family-splash.jpg" height="300" width="400">
            </div><br>
            <br>
            <br>
            <div id="three" class="black_text"></div>
            <div id="four" class="black_text">
                <p align="right">
                    <a href="#magma-festival">Back to top</a>
                </p>
                <h3 id="sponsors">
                    SPONSORS
                </h3>
                <p>
                    We wouldn't be able to make Magma Festival a success without the help of our sponsors. Thanks so much to these rad folks for helping to support Hollow Earth Radio into our glorious future!
                </p>
                <ul>
                <li><a href="http://2020cycle.com">20/20 Cycle</a></li>
                <li><a href="http://duckhugger.com/">Aerick Duckhugger</a></li>
                <li><a href="http://www.blackiconictshirts.com/">Black Iconic T-shirts</a></li>
                <li>the Black Lodge </a>
                <li><a href="http://www.buttonmakers.net">Buttonmakers</a></li>

                <li><a href="http://www.cwb.org">Center for Wooden Boats</a></li>
                <li><a href="http://www.centralcoop.com/">Central Co-Op</a></li>
                <li><a href="http://cmrtyz.com">CMRTYZ</a></li>
                <li><a href="http://www.daxedworddesign.com">Dax Edword Design</a><li>
                <li><a href="http://www.jazzalley.com">Dmitriou's Jazz Alley</a></li>
                <li><a href="http://www.empsfm.org">EMP</a></li>
                <li><a href="http://essentialbaking.com/">Essential Bakery</a></li>
                <li><a href="http://www.fulltilticecream.com">Full Tilt</a></li>
                <li><a href="http://www.grandcentralbakery.com">Grand Central Baking Co</a></li>
                <li><a href="http://www.grandillusioncinema.org/">Grand Illusion</li></a>
                <li><a href="http://www.greenmonkeyrecords.com">Green Monkey Records</a></li>
                <li><a href="http://hothousespa.com/">Hot House Spa</a></li>
                <li><a href="http://hrtlnd.org">The Heartland</a></li>
                <li><a href="http://landmarktheatres.com/Market/Seattle/">Landmark Theater Group</a></li>
                <li><a href="http://seattleghost.com">Market Tours and Espresso</a></li>
                <li><a href="http://newcitytheater.org/">The New City Theater</a></li>
                <li><a href="http://www.radarhairandrecords.com/">Radar Records</a></li>
                <li><a href="http://www.rudysbarbershop.com/">Rudy's Barbershop</a></li>
                <li><a href="https://www.scarecrow.com/">Scarecrow</a></li>
                <li><a href="http://www.sonicboomrecords.com/">Sonic Boom</a></li>
                <li><a href="http://www.subpop.com">Sub Pop Records</a></li>
                <li><a href="http://www.suicidesqueeze.net">Suicide Squeeze</a></li>
                <li><a href="http://www.vain.com/">Vain Salon</a></li>
                <li><a href="http://www.theveraproject.org/">Vera Project</a></li>
                <li><a href="http://www.waywardmusic.blogspot.com/">Wayward Music Series</a></li>


                <p>
                    If you would like to become a sponsor for this festival, please email:<br>
                    magma {at} hollowearthradio {dot} org.
                </p>
                <p align="right">
                    <a href="#magma-festival">Back to top</a>
                </p>
            </div>
        </div><!-- a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XJPPE9E52Y58G" class="links" target="_blank">Donate $60</a -->
    </body>
</html>
