<h1 id="hollow-earth-radio-safer-space-policy">Hollow Earth Radio Safer Space Policy</h1>
<h2 id="purpose">Purpose</h2>
<p>The primary mission of Hollow Earth Radio is to provide a forum for underrepresented and marginalized voices &amp; perspectives. As such, we are committed to providing a friendly, &quot;safer&quot; and welcoming environment for all, especially with regard to race, gender, sexual orientation, ability, ethnicity, socioeconomic status, and religion (or lack thereof).</p>
<p>This code of conduct outlines our expectations for all those who participate in our community, as well as the consequences for unacceptable behavior.</p>
<p>This policy is instituted in recognition and rejection of white supremacy and rape culture as the status quo. Rape culture is that in which sexual assault and other forms of sexual violence are condoned, excused and even encouraged. Rape culture is part of a broader culture of violence, wherein people are socialized to inhabit different positions in hierarchical relationships, to commodify their fellow human beings, and to relate to each other through violence and coercion. It is also rooted in broader systems of oppression such as patriarchy, capitalism, homophobia, transphobia and colonialism and is not separable from them in how and why it is perpetrated, experienced, and dealt with.</p>
<p>We invite all those who participate in Hollow Earth Radio to help us create safe and positive experiences for everyone by seeking:</p>
<ul>
<li>Safety, healing, and agency for survivors</li>
<li>Accountability and transformation for people who harm</li>
<li>Community action, healing, and accountability</li>
<li>Transformation of the social conditions that perpetuate violence – systems of oppression and exploitation, domination, and state violence</li>
</ul>
<h2 id="open-participation">Open Participation</h2>
<p>A supplemental goal of this Code of Conduct is to increase open participation by encouraging everyone to recognize and strengthen the relationships between our actions and their effects on our community.</p>
<p>Communities mirror the societies in which they exist and positive action is essential to counteract the many forms of inequality and abuses of power that exist in society.</p>
<p>We encourage everyone to participate by ensuring our community is welcoming and friendly.</p>
<h2 id="safer-space-code-of-conduct">Safer Space Code of Conduct</h2>
<h3 id="expected-behavior">Expected Behavior</h3>
<ul>
<li>Rather than call-outs, Hollow Earth Radio supports a culture of &quot;calling people in&quot; to a greater understanding of the intersecting systems of oppression that affect us all.</li>
<li>We strive to support each other's growth and learning and acknowledge that we all make mistakes.</li>
<li>Hollow Earth Radio seeks conflict resolution strategies that are both transformative as well as honor the needs of survivors.</li>
<li>We are not experts at this but we are committed to identifying resources for continued self-education.</li>
<li>Participate in an authentic and active way. In doing so, you contribute to the health and longevity of this community.</li>
<li>Exercise consideration and respect in your speech and actions.</li>
<li>Attempt collaboration before conflict.</li>
<li>Refrain from demeaning, discriminatory, or harassing behavior and speech.</li>
<li>Be mindful of your surroundings and of your fellow participants. Alert community leaders if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct, even if they seem inconsequential.</li>
</ul>
<h3 id="unacceptable-behavior">Unacceptable Behavior</h3>
<p>Unacceptable behaviors include: intimidating, harassing, abusive, discriminatory, derogatory or demeaning speech or actions by any participant in our community online, at all related events and in one-on-one communications carried out in the context of community business. Community event venues may be shared with members of the public; please be respectful to all patrons of these locations.</p>
<p>These are some examples of unacceptable behavior. This list is by no means exhaustive. Harassment includes but is not limited to:</p>
<ul>
<li>Offensive comments related to gender, gender identity and expression, sexual orientation, disability, mental illness, neuro(a)typicality, physical appearance, body size, race, or religion</li>
<li>Unwelcome comments regarding a person's lifestyle choices and practices, including those related to food, health, parenting, drugs, and employment.</li>
<li>Deliberate misgendering or use of 'dead' or rejected names</li>
<li>Gratuitous or off-topic sexual images or behaviour in spaces where they're not appropriate</li>
<li>Physical contact and simulated physical contact (eg, textual descriptions like &quot;hug&quot; or &quot;backrub&quot;) without consent or after a request to stop.</li>
<li>Threats of violence</li>
<li>Incitement of violence towards any individual, including encouraging a person to commit suicide or to engage in self-harm</li>
<li>Deliberate intimidation</li>
<li>Stalking or following</li>
<li>Harassing photography or recording</li>
<li>Sustained disruption of discussion</li>
<li>Unwelcome sexual attention</li>
<li>Pattern of inappropriate social contact, such as requesting/assuming inappropriate levels of intimacy with others</li>
<li>Continued one-on-one communication after requests to cease</li>
<li>Deliberate 'outing' of any aspect of a person's identity or history of trauma without their consent except as necessary to protect vulnerable people from intentional abuse</li>
<li>Publication of non-harassing private communication</li>
</ul>
<p>Hollow Earth Radio prioritizes marginalized people's safety over privileged people's comfort. The following are NOT sufficient grounds for a complaint by themselves:</p>
<ul>
<li>'Reverse' -isms, including 'reverse racism,' 'reverse sexism,' and 'cisphobia'</li>
<li>Reasonable communication of boundaries, such as &quot;leave me alone,&quot; &quot;go away,&quot; or &quot;I'm not discussing this with you.&quot;</li>
<li>Communicating in a 'tone' you don’t find congenial</li>
<li>Criticizing racist, sexist, cissexist, or otherwise oppressive behavior or assumptions</li>
</ul>
<h3 id="consequences-of-unacceptable-behavior">Consequences of Unacceptable Behavior</h3>
<p>Unacceptable behavior from anyone at Hollow Earth Radio, including sponsors and those with decision-making authority, will not be tolerated.</p>
<p>Anyone asked to stop unacceptable behavior is expected to comply immediately.</p>
<p>If someone engages in unacceptable behavior, anyone at Hollow Earth Radio should feel empowered to take action to address the situation (i.e., talk to the person involved, point out violent or threatening behavior, ask them to leave the space, etc.). In cases where someone's safety is at risk, a temporary ban may be put in place until the Hollow Earth Radio’s conflict resolution process can be followed to resolution.</p>
<ol>
<li><p><span class="todo TODO">TODO</span> TBD Conflict Resolution Process</p></li>
</ol>
<h3 id="if-you-witness-or-are-subject-to-unacceptable-behavior">If You Witness or Are Subject to Unacceptable Behavior</h3>
<ol>
<li><p><span class="todo TODO">TODO</span> This section needs to be fleshed out more - please see it as a draft in progress.</p>
<p>Everyone should feel empowered to confront aggressive individuals, but we recommend that you do not approach a potentially violent conflict without another community member, preferably a core organizer, co-present.</p>
<p>If you feel uncomfortable or unsafe for any reason, we encourage you to contact the Board at theboard@hollowearthradio.org.</p>
<p>The confidentiality of any communications sent to this address will be respected and protected (However, if you do wish anything sent to this address to be publicized or distributed, let us know.)</p>
<p>Hollow Earth Radio recognizes that keeping survivors safe means respecting their wishes with regards to privacy and confidentiality.</p>
<p>Additionally, community organizers are available to help community members experiencing unacceptable behavior feel safe.</p>
<p>In the context of in-person events, organizers will also provide escorts as desired by the person experiencing distress.</p>
<p>If desired, the community organizers can help the parties access conflict resolution resources.</p></li>
</ol>
<h3 id="addressing-grievances">Addressing Grievances</h3>
<p>If you feel you have been falsely or unfairly accused of violating this Code of Conduct, you should notify Hollow Earth Radio with a concise description of your grievance.</p>
<p>Your grievance will be handled in accordance with our existing conflict resolution policy.</p>
<h3 id="scope">Scope</h3>
<p>We expect all community participants (contributors, paid or otherwise; sponsors; and other guests) to abide by this Code of Conduct in all community venues—online and in-person—as well as in all one-on-one communications pertaining to community business.</p>
<h3 id="contact-info">Contact info</h3>
<p>Please contact theboard@hollowearthradio.org</p>
<p>Portions of this policy were sourced from:</p>
<ul>
<li>Sudo Room hackerspace (OOC member entity)</li>
<li>New York Anarchist Bookfair</li>
<li>Generation 5</li>
<li>Omni Oakland Commons Safe Space policy</li>
</ul>
<p>This Safe Space policy is distributed under a Creative Commons Attribution-ShareAlike license.</p>
<ol>
<li><p>On Revers-isms Resources</p>
<ul>
<li><a href="http://www.cjournal.info/2013/04/24/reverse-isms-an-oppressive-myth/" class="uri">http://www.cjournal.info/2013/04/24/reverse-isms-an-oppressive-myth/</a></li>
<li><a href="http://imaginenoborders.org/pdf/zines/UnderstandingPatriarchy.pdf" class="uri">http://imaginenoborders.org/pdf/zines/UnderstandingPatriarchy.pdf</a></li>
</ul></li>
</ol>
