<div class="special">
  <iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23c4b297&amp;src=jb96p5quojko1af4j0vivaf0vs%40group.calendar.google.com&amp;color=%23c4b297&amp;ctz=America%2FLos_Angeles" style=" border:solid 0px #777 " width="690" height="600" frameborder="0" scrolling="no"></iframe>
</div>
