<div style="width:500px;padding-left:100px;">
<center>
<span ><h3>HER PRESENTS...
  <br/><p/>
  BRAND NEW PARTY-LINE INSPIRED TSHIRTS</h3></span>

<p>
Make a $15 donation (<strong>OR MORE</strong>) to Hollow Earth Radio and get yourself an awesome t-shirt, featuring the sure to be a classic <a href="http://hollowearthradio.org/magma">Hollow Earth Radio Magma Festival</a> 'When's It Gonna Blow?' image illustrated by Shana Cleveland. Also includes subtle advertising for the Hollow Earth Radio voicemail number (to leave drunk dials, PSA's, dreams, paranormal encounters, etc. 206 588 KHER).
<br/><p/>
If you donate $15 you should expect to get a shirt in the next 4-6 weeks. Shirts come in Wow Pink, Baby Blue, and Mellow Yellow.

<div style="float:left">
<%= image_tag "no-white-pink-thumb.png", style: "padding: 0px 4px 0px 4px" %>
<%= image_tag "no-white-blue-thumb.png", style: "padding: 0px 4px 0px 4px" %>
<%= image_tag "no-white-yellow-thumb.png", style: "padding: 0px 4px 0px 4px" %>
</div>
<br/><p/>
Your contribution will go towards helping keep DIY Radio Alive!
<p/>Paypal links below! <strong>SHIPPING INCLUDED TO NORTH AMERICA.</strong>

<h1>
<strong> NOTE: We are currently out of small WOW PINK shirts. </strong>
</h1>
<br/><p/>


     <p align="center"
class="style10">NORTH AMERICAN ORDERS     </p>
     <form target="paypal"
action="https://www.paypal.com/cgi-bin/webscr" method="post">

<div align="center">
            <table>
              <tr>

<td><input type="hidden" name="on0" value="size" />

Sizes</td>

                <td><select name="os0">


<option value="Mens Small">Small</option>

<option value="Mens Medium">Medium</option>

<option value="Mens Large">Large</option>

<option value="Mens X-Large">X-Large </option>

<option value="Mens XX-Large ">XX-Large </option>


</select>

<td><input type="hidden" name="on1" value="color" />

Colors    <td><select name="os1">


<option value="pink">Wow Pink</option>

<option value="blue">Baby Blue</option>

<option value="yellow">Mellow Yellow</option>


</select>
</td>
</tr>

</table>

      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="SXZ8WXSUWBZYY">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">

<input type="hidden" name="business" value="info@hollowearthradio.org" />

<input type="hidden" name="item_name" value="Hollow Earth Radio Shirt" />


<input type="hidden" name="item_number" value="HER-NORTH AMERICA" />


             <input
type="hidden" name="no_shipping" value="2" />
             <input
type="hidden" name="return" value="http://hollowearthradio.org" />

<input type="hidden" name="cancel_return"
value="http://hollowearthradio.org" />
             <input type="hidden"
name="cn" value="Notes to Esther" />
             <input type="hidden"
name="no_note" value="1" />
             <input type="hidden"
name="currency_code" value="USD" />
             <input type="hidden"
name="lc" value="US" />

             <input type="hidden" name="bn"
value="PP-ShopCartBF" />
           </div>
       </form>&nbsp;
 </table>

<br/><br/><p/>
<%= image_tag "sasha.jpg", style: "align:top" %>
</center>


</div>

