<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MAGMA FESTIVAL 2014</title>
    <script src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery", "1");
    </script>

    <!--[if IE]><style type="text/css"> div.code { overflow:visible; overflow-x:auto; overflow-y:hidden; padding-bottom:15px; } </style><![endif]-->

    <style>
        body{
          background: #000000;
          margin: 0px auto;
        }
        hr{
          border-top: 1px dashed #000000;
          height: 1px;
        }
        ul li {
          list-style-type: circle;
        }

        .top{
            position: absolute;
            top: 0px;
        }

        .bottom{
            position: absolute;
            bottom: 0px;
        }

        .navigate{
            background: #01abc9;
            width: 100%;
            height: 40px;
            color: white;
            font-size: 28px;
            font-family: arial;
            text-align: center;
            font-weight: bolder;
        }
        .navigate a{
            color: white;
            font-size: 28px;
            font-family: arial;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
            width: 1200px;
            display: block;
            margin: 0px auto;
        }
        .navigate a:hover{
            color: #F8D8C3;
        }
        .tab_header{
            font-size: 24px;
            font-family: verdana;
            color: #5C4033;
            font-weight: bold;
            margin: 0px;
            padding: 0px;
            text-align: center;
        }

        #container{
          width: 1000px;
          margin: 0px auto;
          padding: 0px;
          position: relative;
          top: 20px;
        }
        #tabContainer{
          width: 865px;
          /*height: 620px;*/
          position: absolute;
          left: 65px;
          top: 0px;
          background: none;
          /*border: 1px solid black;
          padding: 10px 10px 0px 10px;*/
          overflow-x: auto;
          overflow-y: auto;
        }
        #logo{
          position: absolute;
          top: 52px;
          left: 251px;
        }
        .black_text{
          font-size: 14px;
          font-family: Arial;
          color: black;
          font-weight: normal;
        }
        .bold_black_text{
          font-size: 14px;
          font-family: Arial;
          color: black;
          font-weight: bold;
        }
        .small_text{
          font-size: 12px;
          font-family: Arial;
          color: #ffffff;
          font-weight: normal;
        }
        .alert{
          font-size: 20px;
          font-family: Arial;
          font-weight: bold;
          color: #ff0000;
          margin: 0px;
          padding: 0px;
        }
        .links{
          color: #ffea1b;
          font-weight: bold;
          text-decoration: underline;
        }
       .links:hover{
          color: #ffea1b;
          font-weight: bold;
          text-decoration: underline;
        }

        a {
          color: #e32b7e;
        }
    </style>
  </head>

  <body style="margin: 0px auto;">
    <div id="container">
      <div id="tabContainer">
        <div id="one" align="center" >
            <%= link_to(image_tag("magma/clotfelter.png"), "/magma") %>

            <p class="small_text">
              <b>
              <a href="/magma">LEARN MORE ABOUT MAGMA FESTIVAL 2014</a>
            </p>
          </div>

      </div>
      <table cellspacing="0" cellpadding="0" border="0" align="center" id="gallery" height="600" width="900">
          <tr>
              <td align="center">.</td>
          </tr>
      </table>

      </div>

      <div class="navigate bottom">
          <a href="/home">Enter the HOLLOW EARTH RADIO website</a>
      </div>
  </body>
</html>

