<br/>

<center>

  <h1>The Sea-Port Beat Documentary Series! </h1>
  <br/><strong>
    The Sea-Port Beat Episode Guide:<br/>
    Each Episode Will Air Twice on Wednesdays in March @ 10am-12pm & 6pm-8pm<br/>
    Hollow Earth Radio will open its doors for in-person listening sessions at 6pm on Wednesdays<br/>
     or you can tune in with us from anywhere in the world. <br/>
    </strong>
    <br/>
    Already aired episodes of the series are available to download as podcasts:  <a href="http://soundcloud.com/hollowearthradio">here!!</a>
    <br/>
  <br/>

  <br/><p/>
  </center>

<h1>March 2 </h1>

<strong>Episode 1: This Time Let's Do It Right:</strong>  The Northwest Independent Music Legacy of the 1980's: Setting the pace for the documentary, this episode is told though the personal geography and reflections of its producer, from what he has witnessed since the dawn of the modern NW DIY culture in 1980s Olympia. This was a crucial time and place as the theoretical headwaters of Sub Pop, K Records, Kill Rock Stars, and the Riot Grrl movement. Highlight: John Foster tells how and why he invented the world's first explicitly independent music-based radio station, Olympia's KAOS-fm. (Rich Jensen, Episode Producer; Amber Cortes, Segment Producer)
  <br/>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/164927032&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
<p/>


<strong>Episode 2: Origins Of A Sound:</strong>  This episode asks how the unique Northwest sound developed. You’ll get a ground level view of the original independent music scene according to the Sonics, Wailers, Ventures, Dynamics, Raiders, Goodtimes and Pat Staten, to name a few. In fact, we’ll share the first Sonics interview from the 1950s. Not everything is shiny though, as we remove the veneer of the early dance hall scene to reveal the racism and corruption. (David Newman, Episode Producer; Segment Producers: CJ Gambrell, Lydia Helmick, Chris Bradbury, Editor)
<br/>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/164927054&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</p>

<h1>March 9</h1>
<strong>Episode 3: The Artistic Practice:</strong>  Where does music come from? Does it start with sound, words, community?  This episode explores this through interviews with musicians and artists, allowing them to describe their personal process. (Forrest Baum, Episode Producer, Levi Fuller, Assistant Producer, Amber Kai Morgan, Segment Producer, Rich Jensen, Interviewer)
  <br/>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/164927030&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
<p/>

<strong>Episode 4: Music Biz, DIY Style:</strong>  This episode is about everything but music. You’ll hear about the crafts and practices that make up the DIY music culture infrastructure in this region. Video-makers, merch-sellers, distributors, tape-recorders, photographers and others whose work to make independent music thrive will be featured. (Jenny Asarnow, Episode Episode Producer; Emily Eagle, Assistant Producer)
<br/>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/164927035&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
<p/>

<h1>March 16</h1>
<strong>Episode 5: The Showoff Gallery: A House Show Intensive:</strong>  This episode takes an in-depth look at The Showoff Gallery, one of the longest running all-ages spaces in Washington state. From 1990-2002, this warehouse on the wharfs of Bellingham Bay was a home to many artists who opened their doors to host shows, art events, proms, a 4 day all-woman circus, a 24-hour non-stop noise fest, and Showoff or Shutup Festival. (Clyde Petersen, Episode Producer)
<br/>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/164927039&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
<p/>

<strong>Episode 6: The Domestic Art of Home Recording:</strong>  This episode is simply about home recording. You’ll get a peek into the recording life of Anacortes musician, Karl Blau,  as his process of a recording a song is documented. Another segment focuses on musician, Sue Ann Harkey, as she describes her experience with starting an in-home recording label after randomly finding $1000. (Kenneth Piekarski, Episode Producer)
<br/>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/164927040&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
<p/>

March 23
<strong>Episode 7: Thicker Than Blood:</strong>  Our Music, Ourselves and Our Community: This episode explores the social practices that surround the music. Highlights include the ruminations of a 30-something punk rocker who has always played an active role both as a touring musician and as a scene-maker in his community and who may well be concluding that the last ten years were a waste of time. Other segments share the stories of a Bellingham organization raising thousands of dollars for a new all-ages venue, bicycle-powered music shows, and fighting against city noise ordinances for the sake of art. (Matt Fuller; Episode Producer)
<br/>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/164927044&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
<p/>
<strong>Episode 8: The Legacy Continues:</strong> This episode sums up the previous seven episodes, illuminating themes and resonances between them, and drawing out a larger narrative idea about where the movement began and how it continues to thrive. (Tyson Lynn, Episode Producer)
<br/>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/164927051&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
<p/>
</center>
