<h2><u>Volunteer</u></h2>

<p>
  Volunteers are an integral part in the success of Hollow Earth Radio as we are an all volunteer-run organization.
</p>

<p>
  We have a monthly volunteer orientation at our station located at <%= map_link %> on the <b>first Sunday of each month at 6PM</b>. E-mail our <%= volunteer_mailto %> to sign up for an orientation.
</p>
<p>
  As a volunteer there are many opportunities to learn and also share your skills. Volunteers do a number of things to keep the station going including: DJing, reviewing albums, recording local live performances, biking around town to pass out program schedules & flyers, tabling at all-ages spaces, blogging, teaching other volunteers how to use audio equipment, making buttons, stickers, and posters, assisting DJs, organizing our music library, web coding, contacting bands and labels, editing recordings or programs, digitizing found sound and home recordings, and more.
</p>

<br/>



