<h1> Events in Our Space </h1>

<p>
Hollow Earth Radio typically has live events in our space every Friday & Saturday night.
These events are open to the public (come down and hang out) and also live broadcast!
</p>

<p>
A few ground rules:
<ul>
  <li>All of our events are all ages</li>
  <li>Doors typically @ 8 PM</li>
  <li>$7-15 Suggested Donation, no one turned away for lack of funds</li>
  <li>Our main space is ADA accessible; the bathroom is down a long hallway with one small step down.</li>
  <li>No drugs, no booze, no bad news</li>
</ul>
</p>

<p>
Hollow Earth Radio strives to be a space as safe and welcoming as possible for everyone, with priority to the safety of marginalized identities.
Read about our safer space policy here: <%= link_to "hollowearthradio.org/safer_space" %>
</p>

<p>
Wanna play at Hollow Earth Radio? Easy! Just email us to <%= booking_mailto %>
</p>

<%= render partial: "shared/event", collection: @events %>
