/* _broadcasting.scss */

@import 'modules/add_field_radius';
@import 'modules/global_vars';

$perimeter: 100px;
$signal_color: $common_pink;

#listen_button {
	@include add-field-radius(999px);
	border-radius: 999px;
	border: 4px solid $signal_color;
	text-align: center;
	width: $perimeter;
	height: $perimeter;
	padding: 28px 0px 0px 0px;
	font-weight: bold;
	font-style: italic;
	color: #333;
	//float: left;
	margin: 0px auto;
	font-size: $perimeter * .25;
}
#current_broadcast {
	text-align: center;
	background-color: #333;
	color:#FFF;
	margin: 5px 0px 5px 0px;
	span{ 
		color: $signal_color;
		font-style:oblique;
	}
}