/* _header.scss */

#baby {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.1;

	color: inherit;
	font-size: 70px;
	text-transform: uppercase;
/*
	color: #FFF;
	font-size: 70px;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px #333;
*/
}
#baby_bib {
	font-size: 14px;
	text-align: center;
}